.row{
        width: 100%;
       
    }
    h1{
        margin-bottom: 20px;
        text-align: center;
        font-size: 35px;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
   .chicken, .beef, .sushi{
        border:1px solid black;
        background-color:lightgray;
        color: black;
        width: 90%;
        height:90%px;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 20px;
        margin-right: auto;
        margin-left: auto;
        padding: 0px 10px;
        margin-bottom:20px;
       
        

       
    }
    .chicken h2{
        position:relative;
        text-align:center;
        background-color: brown;
        border:1px solid black;
        color:white;
        width:28%;
        margin-left: 74%;
        margin-top: 0%;
        font-size: 25px;
        
       
      
        
    }
   
    .beef h2{
        position:relative;
        text-align:center;
        background-color:green;
        border:1px solid black;
        color:white;
        width:28%;
        margin-left: 74%;
        margin-top: 0%;
        font-size: 25px;
    }
   
    .sushi h2{
        position:relative;
        text-align:center;
        background-color:rgb(190, 94, 110);
        border:1px solid black;
        color:white;
        width:28%;
        margin-left: 74%;
        margin-top: 0%;
        font-size: 25px;
    }
   
    /desktop view/
    @media(min-width: 992px){
        .col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12
            {
                float: left;
                max-width:fit-content ;
            }
            .col-lg-1{
                width: 8.33%;
            }
            .col-lg-2{
                width: 16.66%;
            }
            .col-lg-3{
                width: 25%;
            } 
            .col-lg-4{
                width: 33%;
            }
            .col-lg-5{
                width: 41.6%;
            }
            .col-lg-6{
                width: 50%;
            }
            .col-lg-7{
                width: 58.33%;
            }
            .col-lg-8{
                width: 66.66%;
            }
            .col-lg-9{
                width: 74.99%;
            }
            .col-lg-10{
                width: 83.33%;
            }
            .col-lg-11{
                width: 91.66%;
            }
            .col-lg-12{
                width: 100%;
            }
        }
        /tablets/
        @media(min-width: 768px) and (max-width:991px)
        {
            .col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12{
                float:left;
                max-width: fit-content;
            }
            .col-md-1{
                width: 8.33%;
            }
            .col-md-2{
                width: 16.66%;
            }
            .col-md-3{
                width: 25%;
            }
            .col-md-4{
                width: 33%;
            }
            .col-md-5{
                width: 41.6%;
            }
            .col-md-6{
                width: 50%;
            }
            .col-md-7{
                width: 58.33%;
            }
            .col-md-8{
                width: 66.66%;
            }
            .col-md-9{
                width: 74.99%;
            }
            .col-md-10{
                width: 83.33%;
            }
            .col-md-11{
                width: 91.66%;
            }
            .col-md-12{
                width: 100%;
            }
        }
        /mobile/
        @media(max-width: 767px){
        .col-sh-1,.col-sh-2,.col-sh-3,.col-sh-4,.col-sh-5,.col-sh-6,.col-sh-7,.col-sh-8,.col-sh-9,.col-sh-10,.col-sh-11,.col-sh-12
            {
                float: left;

            }
            .col-sh-1{
                width: 8.33%;
            }
            .col-sh-2{
                width: 16.66%;
            }
            .col-sh-3{
                width: 25%;
            } 
            .col-sh-4{
                width: 33%;
            }
            .col-sh-5{
                width: 41.6%;
            }
            .col-sh-6{
                width: 50%;
            }
            .col-sh-7{
                width: 58.33%;
            }
            .col-sh-8{
                width: 66.66%;
            }
            .col-sh-9{
                width: 74.99%;
            }
            .col-sh-10{
                width: 83.33%;
            }
            .col-sh-11{
                width: 91.66%;
            }
            .col-sh-12{
                width: 100%;
            }
        }
